---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
	return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
	refresh_token: refreshToken.value,
	access_token: accessToken.value,
});

if (error) {
	cookies.delete("sb-access-token", {
		path: "/",
	});
	cookies.delete("sb-refresh-token", {
		path: "/",
	});

	return redirect("/signin");
}
const user = data?.user;
const email = data?.user?.email;

async function getRPC() {
	// const { data, error } = await supabase.rpc("nearby_restaurants", {
	// 	lat: 40.807313,
	// 	long: -73.946713,
	// });
	// const { data, error } = await supabase.rpc("restaurants_in_view", {
	// 	min_lat: 40.807,
	// 	min_long: -73.946,
	// 	max_lat: 40.808,
	// 	max_long: -73.945,
	// });
	const { data, error } = await supabase.rpc("restaurants_delivering_to", {
		lat: 2,
		long: 2,
	});
	return data;
}

const list = await getRPC();
---

<Layout title="dashboard">
	<h1>WWW Welcome {email}</h1>
	<details open>
		<summary>LIST</summary>
		<pre>{JSON.stringify(list, null, "\t")}</pre>
	</details>
	<details>
		<summary>User Details</summary>
		<pre>{JSON.stringify(user, null, "\t")}</pre>
	</details>
	<hr />
	<button id="client-side-user">client-side-user</button>
	<hr />
	<h1>The current URL is: {Astro.url}</h1>
	<h1>The current URL pathname is: {Astro.url.pathname}</h1>
	<h1>The current URL origin is: {Astro.url.origin}</h1>
	<hr />
	<p>We are happy to see you here</p>

	<form action="/api/auth/signout">
		<button type="submit">Sign out</button>
	</form>

	<script>
		import { getSession } from "../lib/supabase";
		const btn = document.getElementById("client-side-user");
		btn?.addEventListener("click", async () => {
			const data = await getSession();
			console.log(data);
		});
	</script>
</Layout>
