---
// const { request, cookies, redirect } = Astro;
// const referer = request.headers.get("referer");
// console.log(referer);
// if (referer) {
// 	cookies.set("last-referer", referer, { path: "/" });
// }

// return redirect("/api/auth/redirector");
---

<!-- 
hello auth

<h1>referer:{referer}</h1>

<script>
	console.log("Welcome, browser console!");
	window.location.href = "/redirector";
</script> -->
